*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
_notebooks/.ipynb_checkpoints
.trash
.obsidian
attaches
code
file
ipis
literature
r
logs
medinfox
personal
u
Evernote-2021-10-27
_resources
__pycache__